.sectionHeading{
    width:100%;
    text-align:center;
    padding:40px 0 10px 0;
    margin-left:15px;
    border-bottom:2px solid black;
}

.sectionHeading h1{
    color:black;
    padding:10px;
}


