.about-me{
    background-color:white;
    border:2px solid black;
    box-shadow:4px 4px 0 black;
    height:100%;
}

.about-me-picture{
   background-position:top;
   background-size:cover;
    height:100%;
    min-height:400px;
}

.star-bullet{
    /* color:#00FFA2; */
    color:black;
    margin-right: 20px;
    float:left;
    height:100%;
    margin-top:5px;
}