.about-me{
    background-color:white;
    height:100%;
    /* border:2px solid black; */
    box-shadow:4px 4px 8px black;
    border-radius:10px;
}

.about-me-picture{
   background-position:top;
   background-size:cover;
    height:100%;
    min-height:400px;
}

.star-bullet{
    /* color:#00FFA2; */
    color:black;
    margin-right: 20px;
    float:left;
    height:100%;
    margin-top:5px;
}